::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #9E9E9E;
}

.btn_custom {
  display: inline-block;
  width: auto;
  margin: 0;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0;
  font-weight: 600;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  padding: 13px 50px;
  cursor: pointer;
}

.btn--small {
  padding: 8px 12px;
  min-width: 65px;
  font-size: 12px;
}

.btn--medium {
  padding: 10px 14px;
  min-width: 85px;
  font-size: 14px;
}

.btn--large {
  padding: 12px 16px;
  min-width: 105px;
  font-size: 18px;
}

.btn--filled {
  color: #f47321;
  background-color: rgba(223, 130, 57, 0.18);
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
}

.btn--filled:hover {
  background-color: rgba(223, 130, 57, 0.18);
  color: #f47321;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: 0.3s ease-in-out;
}

html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}

@media (max-width: 768px) {
  .offcanvas-collapse {
    position: fixed;
    top: 10.3rem;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    z-index: 99;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #fff;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
    padding-top: 25px;
  }
}

@media (max-width: 768px) and (min-width: 768px) and (max-width: 991px) {
  .offcanvas-collapse {
    top: 8.4rem;
  }
}

@media (max-width: 768px) {
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-purple {
  background-color: #6f42c1;
}

.lh-100 {
  line-height: 1;
}

.lh-125 {
  line-height: 1.25;
}

.lh-150 {
  line-height: 1.5;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 35px;
  height: 3px;
  background-color: #161616;
  border-radius: 3px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.navbar-toggler {
  transform: translateY(22%);
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--elastic .hamburger-inner {
  top: 1.7rem;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

.main-banner__content .slick-prev {
  z-index: 2;
  height: 60px;
  width: 60px;
  top: 50%;
  left: 24px;
  transition: all .5s;
  background-color: rgba(255, 255, 255, 0.56);
  cursor: pointer;
}

.main-banner__content .slick-prev:before {
  font-size: 17px;
  color: #000;
  content: "\f053";
  font-family: 'FontAwesome';
  z-index: 3;
}

.main-banner__content .slick-prev:hover {
  outline: none;
  transition: all .5s;
  background-color: rgba(255, 255, 255, 0.81);
  color: #fff;
}

.main-banner__content .slick-next {
  right: 24px;
  z-index: 2;
  height: 60px;
  width: 60px;
  cursor: pointer;
  transition: all .5s;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.56);
}

.main-banner__content .slick-next:before {
  font-size: 17px;
  color: #000;
  content: "\f054";
  font-family: 'FontAwesome';
}

.main-banner__content .slick-next:hover {
  outline: none;
  background-color: rgba(255, 255, 255, 0.81);
  color: #fff;
  transition: all .5s;
}

.main-banner__content .slick-dots {
  z-index: 2;
  display: flex;
  position: absolute;
  bottom: 5%;
  right: 53%;
  width: 0%;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-banner__content .slick-dots {
    left: 45%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-banner__content .slick-dots {
    left: 45%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-banner__content .slick-dots {
    left: 35%;
  }
}

.main-banner__content .slick-dots .slick-active button:before {
  color: #00b050;
  opacity: 0.75;
  width: 35px;
  margin: 0;
}

.main-banner__content .slick-dots li {
  margin: 0 10px;
}

.main-banner__content .slick-dots li button:before {
  color: gray;
  content: '';
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #f47321;
  border-radius: 6px;
  cursor: pointer;
  transition: all 300ms ease;
}

.main-banner__content .slick-dots li button:hover:before, .main-banner__content .slick-dots li button:focus:before {
  color: #00b050;
}

.main-video .slick-dots {
  z-index: 2;
  display: flex;
  counter-reset: item;
  bottom: -64px;
  list-style: decimal-leading-zero;
  list-style-type: decimal-leading-zero;
}

.main-video .slick-dots li button::before {
  opacity: 0;
}

.main-video .slick-dots li {
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  left: 48%;
  transform: translateX(-48%);
  height: 100%;
  display: flex;
  align-items: center;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-video .slick-dots li {
    left: 44%;
    transform: translateX(-44%);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-video .slick-dots li {
    left: 47%;
    transform: translateX(-47%);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-video .slick-dots li {
    left: 48%;
    transform: translateX(-48%);
  }
}

.main-video .slick-dots li:last-child {
  overflow: visible;
  visibility: visible;
  left: 51%;
  transform: translateX(-51%);
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-video .slick-dots li:last-child {
    left: 59%;
    transform: translateX(-59%);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-video .slick-dots li:last-child {
    left: 55%;
    transform: translateX(-55%);
  }
}

.main-video .slick-dots li::before {
  font-weight: 300;
  color: #161616;
  font-size: 15px;
  letter-spacing: 3px;
  cursor: pointer;
  color: #161616;
  content: counter(item, decimal-leading-zero) " ";
  counter-increment: item;
  opacity: 1;
  background: #fff;
}

.main-video .slick-dots li.slick-active {
  overflow: visible;
  visibility: visible;
}

.main-video .slick-dots li.slick-active::before {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 4px;
  content: counter(item, decimal-leading-zero) "/";
}

.main-video .slick-next,
.main-video .slick-prev {
  width: 45px;
  height: 45px;
  background: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
}

.main-video .slick-next::before,
  .main-video .slick-prev::before {
  background-position: center;
  content: "";
  opacity: 1;
  width: 24px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 3;
}

.main-video .slick-next {
  right: 29%;
}

.main-video .slick-next::before {
  background-image: url("../img/next.png");
}

.main-video .slick-prev {
  left: 29%;
}

.main-video .slick-prev::before {
  background-image: url("../img/return.png");
}

.main-products__carousel .slick-prev-arrow,
.main-products__carousel .slick-next-arrow {
  position: absolute;
  cursor: pointer;
  color: #161616;
  font-family: 'HelveticaNeue';
  display: flex;
  font-size: 12px;
  letter-spacing: 2.4px;
  font-weight: 600;
  align-items: center;
  bottom: -60px;
}

.main-products__carousel .slick-prev-arrow i,
  .main-products__carousel .slick-next-arrow i {
  font-size: 16px;
}

.main-products__carousel .slick-prev-arrow p,
  .main-products__carousel .slick-next-arrow p {
  text-transform: uppercase;
  margin-bottom: 0;
  margin: 0 6px;
}

.main-products__carousel .slick-prev-arrow {
  left: 46%;
  height: 49px;
  transform: translateX(-46%);
}

.main-products__carousel .slick-prev-arrow::before {
  content: "";
  width: 1px;
  height: 60px;
  bottom: -15px;
  background: #161616;
  position: absolute;
  right: 0px;
  transform: rotateZ(45deg);
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-products__carousel .slick-prev-arrow::before {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-products__carousel .slick-prev-arrow::before {
    right: -18px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-products__carousel .slick-prev-arrow {
    left: 43%;
    transform: translateX(-43%);
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-products__carousel .slick-prev-arrow {
    left: 35%;
    transform: translateX(-35%);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-products__carousel .slick-prev-arrow {
    left: 43%;
    transform: translateX(-43%);
  }
}

.main-products__carousel .slick-next-arrow {
  right: 40%;
  transform: translateX(-40%);
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-products__carousel .slick-next-arrow {
    right: 33%;
    transform: translateX(-33%);
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-products__carousel .slick-next-arrow {
    right: 22%;
    transform: translateX(-22%);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-products__carousel .slick-next-arrow {
    right: 36%;
    transform: translateX(-36%);
  }
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

@media (min-width: 0px) and (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 13px;
  }
}

a:hover {
  color: #ffffff;
}

*,
*:hover,
*:focus {
  outline: none !important;
  text-decoration: none !important;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueRegular.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueHeavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueBlackCond.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.main-brand__fixed {
  display: none;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-brand__fixed {
    display: none !important;
  }
}

body {
  font-family: 'HelveticaNeue';
  color: #161616;
}

body :focus {
  outline: none;
}

.mt-btn {
  margin-top: 2.2rem;
}

.padding-top-bottom {
  padding-top: 55px;
  padding-bottom: 55px;
}

.container-grid {
  display: grid;
}

.main-general__button {
  display: inline-block;
  background-color: #161616;
  color: #fff;
  font-weight: bold;
  transition: .5s;
  padding: 18px 16.6px;
  border: 1px solid;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 3px;
}

.main-general__button:hover {
  background: #fff;
  color: #161616;
  transition: .5s;
}

.padding-right-left {
  padding-left: 86px;
  padding-right: 86px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .padding-right-left {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.main-general__button--white {
  background: #fff;
  color: #161616;
  display: inline-block;
  font-size: 14px;
  padding: 18px 16.6px;
  letter-spacing: 0.18px;
}

.main-general__button--white:hover {
  background-color: #161616;
  color: #fff;
  transition: .5s;
}

.main-general__title--light {
  font-size: 20px;
  line-height: 41px;
  letter-spacing: 4px;
  color: #6d7278;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.main-general__title--bold {
  font-size: 30px;
  line-height: 41px;
  margin-bottom: 38px;
  letter-spacing: 6px;
  color: #000000;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.brand-responsive {
  display: none;
}

@media (min-width: 0px) and (max-width: 767px) {
  .brand-responsive {
    display: initial;
  }
}

button:focus {
  outline: 5px auto transparent;
}

.img-round {
  border-radius: 5px;
}

.nav-padding {
  padding-left: 145px;
  width: 100%;
  padding-right: 25px;
  display: flex;
  align-items: center;
}

@media (min-width: 0px) and (max-width: 767px) {
  .nav-padding {
    padding: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .nav-padding {
    padding: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav-padding {
    padding: 15px;
  }
}

.navbar {
  background-color: transparent;
  transition: .3s ease-in-out;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.navbar.fixed {
  background-color: #fff;
  box-shadow: rgba(191, 191, 191, 0.72) 2px 1px 8px;
  transition: .3s ease-in-out;
}

.navbar .main-rrss__responsive {
  display: none;
}

@media (min-width: 0px) and (max-width: 767px) {
  .navbar .main-rrss__responsive {
    display: flex;
    list-style: none;
    margin-top: 1rem;
    padding-left: 0;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media (min-width: 0px) and (max-width: 767px) and (min-width: 0px) and (max-width: 767px) {
  .navbar .main-rrss__responsive img {
    width: 54px;
    height: 54px;
  }
}

.nav-item .main-general__button {
  color: #fff !important;
}

.pre-navbar--mobile {
  display: none !important;
  flex-wrap: wrap;
  margin-top: 10px;
  display: flex;
}

@media (min-width: 0px) and (max-width: 767px) {
  .pre-navbar--mobile {
    display: flex !important;
    padding: 0 1.2rem !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .pre-navbar--mobile {
    display: flex !important;
    padding: 0 1.2rem !important;
  }
}

.pre-navbar--mobile p {
  margin-bottom: 10px !important;
}

.nav-item {
  display: flex;
  align-items: center;
}

@media (min-width: 0px) and (max-width: 767px) {
  .nav-item {
    margin: .5rem 0;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav-item {
    margin: .5rem 0;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    display: flex;
  }
}

.nav-item a {
  font-size: 16px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  justify-content: center;
  display: flex;
  color: #fff;
  font-weight: bold;
  align-items: center;
}

.nav-item a:hover {
  color: #ff130d !important;
}

@media (min-width: 0px) and (max-width: 767px) {
  .nav-item a {
    font-size: 16px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #161616;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav-item a {
    font-size: 17px;
    margin: 8px 0;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #161616;
  }
}

.navbar .navbar-nav {
  min-height: 5rem;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-brand {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-brand {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.fixed {
  background: #1c3348 !important;
}

.nav-idioma {
  font-weight: 500 !important;
}

.nav-idioma span {
  font-weight: 600;
  margin-right: 5px;
}

.nav-icon img {
  width: 26px;
  height: 26px;
  object-fit: contain;
  margin: 0 10px;
}

.nav-money img {
  width: 69px;
  height: 66px;
  margin-top: 5px;
  object-fit: contain;
}

.nav-world img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  margin: 0 5px;
}

.content-icon {
  display: flex;
}

@media (min-width: 0px) and (max-width: 767px) {
  .content-icon {
    margin-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .content-icon {
    margin-top: 0;
  }
}

.dropdown:hover > .dropdown-menu {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.dropdown-menu {
  background: #3030304f;
  top: 69%;
  opacity: 0;
  visibility: hidden;
  opacity: 1;
  display: block !important;
  height: 0;
}

@media (min-width: 0px) and (max-width: 767px) {
  .dropdown-menu {
    background: transparent;
    padding: 0 !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .dropdown-menu {
    background: transparent;
    padding: 0 !important;
  }
}

.dropdown-item {
  justify-content: start !important;
}

@media (min-width: 0px) and (max-width: 767px) {
  .nav-flex {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav-flex {
    display: none;
  }
}

.nav-responsive {
  display: none;
  padding-right: 1.2rem !important;
  padding-left: 1.2rem !important;
}

@media (min-width: 0px) and (max-width: 767px) {
  .nav-responsive {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav-responsive {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.nav-link {
  transition: .3s ease-in-out;
  font-size: 1rem;
  padding-right: 1.2rem !important;
  padding-left: 1.2rem !important;
}

@media (min-width: 0px) and (max-width: 767px) {
  .nav-link {
    color: #fff;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav-link {
    color: #fff;
  }
}

.nav-link.fixed-color {
  transition: .3s ease-in-out;
}

.nav-link:hover {
  color: #cacaca !important;
}

@media (min-width: 0px) and (max-width: 767px) {
  .nav-link:hover {
    color: #fff;
  }
}

.fixed--link {
  color: #4a4a4a !important;
}

.fixed--white {
  background: #fff;
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-right: 0;
}

.navbar-brand img {
  width: 170px;
  height: 104px;
  object-fit: contain;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-brand img {
    width: 11rem;
    height: 4rem;
    object-fit: contain;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .navbar-brand {
    width: initial;
    margin-left: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand {
    width: initial;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-brand__top {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-brand__top {
    display: none !important;
  }
}

.navbar-nav {
  width: 100%;
  justify-content: flex-end;
}

.navbar-collapse {
  justify-content: flex-end;
}

header {
  position: absolute;
  width: 100%;
  z-index: 99;
}

@media (min-width: 0px) and (max-width: 767px) {
  header {
    position: fixed !important;
    background: #fff;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header {
    position: fixed !important;
    background: #fff;
  }
}

.header-gray {
  background: #303030;
  position: initial;
}

@media (min-width: 0px) and (max-width: 767px) {
  .header-gray {
    background: #fff;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-gray {
    background: #fff;
  }
}

.pre-navbar {
  padding: 9px 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 0px) and (max-width: 767px) {
  .pre-navbar {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .pre-navbar {
    display: none;
  }
}

.pre-navbar .icon-tarjeta {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.pre-navbar .icon-line {
  width: 45px;
  object-fit: contain;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .pre-navbar .icon-line {
    display: none;
  }
}

.pre-navbar .main-general__button {
  padding: 6px 15px;
  font-size: 7px;
  letter-spacing: 2px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .pre-navbar .main-general__button {
    font-size: 13px;
  }
}

.pre-navbar .main-general__button img {
  width: 12px;
  height: 12px;
  object-fit: contain;
}

.pre-navbar p:nth-child(1) {
  font-size: 16px;
}

.pre-navbar p {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-bottom: 0;
}

.pre-navbar p:nth-child(2) {
  font-size: 16px;
}

.pre-navbar p:nth-child(3) {
  font-size: 16px;
  margin: 0 9px;
  font-weight: 600;
}

.pre-navbar p:nth-child(4) {
  font-size: 13px;
  font-weight: 500;
}

.pre-navbar p b {
  font-weight: 600;
}

.nav-top__header {
  width: 100%;
  background-color: #0B1A1C;
  padding: 10px;
  transition: .3s ease-in-out;
}

.nav-top__header.nav-top__header--detele {
  display: none !important;
  transition: .3s ease-in-out;
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav-top__header {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .nav-top__header {
    display: none;
  }
}

.nav-top__content {
  padding: 0 100px;
}

.main-nav__contact a {
  color: #F7FCF9;
  text-decoration: none;
}

.main-banner {
  overflow: hidden;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-banner {
    margin-top: 133px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-banner {
    margin-top: 133px;
  }
}

.main-banner .main-banner__item {
  position: relative;
}

.main-banner .main-banner__width {
  width: 60%;
}

.main-banner .main-banner__text {
  position: absolute;
  width: 100%;
  display: flex;
  height: 100%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding-left: 145px;
  padding-right: 145px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-banner .main-banner__text {
    width: 100%;
    padding: 0;
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-banner .main-banner__text {
    width: 100%;
    padding: 0;
    align-items: center;
  }
}

.main-banner .main-banner__text .main-banner__title {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 60px;
  color: #fff;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-banner .main-banner__text .main-banner__title {
    font-size: 31px;
    line-height: 1;
  }
}

.main-banner .main-banner__text .main-banner__title--small {
  font-weight: 300;
  color: #fff;
  font-size: 20px;
  letter-spacing: 10px;
  width: fit-content;
}

.main-banner .main-banner__text .main-banner__title--small p {
  margin-bottom: 0;
  position: relative;
}

.main-banner .main-banner__text .main-banner__title--small p::before {
  position: absolute;
  width: 248px;
  content: "";
  height: 1px;
  background: #fff;
  top: 50%;
  left: 218px;
}

.main-banner .main-banner__text .main-banner__subtitle {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}

.main-banner .main-banner__text .main-banner__description {
  padding: 0 25px;
  color: #fff;
  font-size: 20px;
  line-height: 2rem;
  margin: 50px 0 0 0;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-banner .main-banner__text .main-banner__description {
    font-size: 18px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-banner .main-banner__text .main-banner__description {
    font-size: 18px;
    padding: 0;
  }
}

.main-banner .main-banner__img {
  width: 100%;
  height: 779px;
}

.main-banner .main-banner__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-categories {
  background: #f5f5f5;
}

.main-categories .padding-right-left {
  padding-left: 16px;
  padding-right: 16px;
}

.main-categories .main-categories__flex {
  display: flex;
  flex-wrap: wrap;
}

.main-categories__item {
  padding: 15px;
  position: relative;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-categories__item {
    width: 100% !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-categories__item {
    width: 50% !important;
  }
}

.main-categories__item img {
  width: 100%;
  height: 201px;
  object-fit: cover;
  object-position: center;
}

.main-categories__item:nth-child(1) {
  width: 34.5%;
}

.main-categories__item:nth-child(2) {
  width: 25%;
}

.main-categories__item:nth-child(3) {
  width: 40.5%;
}

.main-categories__item:nth-child(4) {
  width: 28.5%;
}

.main-categories__item:nth-child(5) {
  width: 26.5%;
}

.main-categories__item:nth-child(6) {
  width: 45%;
}

.main-categories__mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-categories__mask .main-categories__title {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 0.67px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

.main-categories__mask .main-categories__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  background: #ff130d;
  width: 100%;
  height: 1px;
}

.main-products .padding-top-bottom {
  padding-bottom: 151px;
}

.main-products__item {
  margin: 0 13.5px;
}

.main-products__item .main-products__mask {
  position: absolute;
  background: rgba(22, 22, 22, 0.47);
  width: 100%;
  opacity: 0;
  height: 100%;
  top: 0;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-products__item .main-products__img {
  position: relative;
  transition: .3s;
  height: 335px;
  margin-bottom: 13px;
}

.main-products__item .main-products__img img {
  border: 5px solid rgba(151, 151, 151, 0.2);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-products__item .main-products__img:hover .main-products__mask {
  opacity: 1;
  transition: .3s;
}

.main-products__item .main-products__img .main-products__icon {
  background: #fff;
  padding: 10px 17px;
  width: 144px;
  display: flex;
  justify-content: space-between;
}

.main-products__item .main-products__img .main-products__icon img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  border: none;
}

.main-products__item .main-products__title {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #161616;
  margin-bottom: 2px;
}

.main-products__item .main-products__categorie {
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 0;
  color: #161616;
}

.main-products__item .main-products__price {
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 3px;
  color: #161616;
}

.main-products__item .main-products__price span {
  color: #6d7278;
  font-size: 10px;
  letter-spacing: 2.5px;
  font-weight: 600;
  text-decoration: line-through !important;
}

.main-video .padding-right-left {
  padding-left: 50px;
  padding-right: 50px;
}

.main-video .padding-top-bottom {
  padding-bottom: 119px;
}

.main-video .main-video__carousel {
  margin-bottom: 0;
}

.main-video .main-video__title {
  border-left: 1px solid #161616;
  padding-left: 19px;
}

.main-video .main-general__title--bold,
.main-video .main-general__title--light {
  text-align: left;
}

.main-video .main-general__title--light {
  color: #606060;
}

.main-video__item {
  display: flex !important;
  height: 318px;
  justify-content: center;
  align-items: center;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-video__item {
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-video__item {
    height: auto;
    margin: 0 10px;
  }
}

.main-video__item img {
  opacity: 16%;
  width: 320px;
  transition: .3s;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-video__item img {
    opacity: 1;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-video__item img {
    opacity: 1;
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-video__item img {
    object-fit: contain;
  }
}

.main-video__item.slick-active.slick-center img {
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: .3s;
}

.main-club {
  background: rgba(240, 240, 240, 0.55);
}

.main-club .container-grid {
  grid-template-columns: 32% 1fr;
  gap: 54px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-club .container-grid {
    grid-template-columns: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-club .container-grid {
    grid-template-columns: 100%;
  }
}

.main-club .main-club__text {
  text-transform: uppercase;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-club .main-club__title--light {
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 300;
}

.main-club .main-club__title--italic {
  font-size: 40px;
  letter-spacing: 2.67px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-style: italic;
  font-weight: 300;
}

.main-club .main-club__title--bold {
  font-size: 45px;
  letter-spacing: 5.6px;
  font-weight: 600;
  position: relative;
  padding-bottom: 7px;
}

.main-club .main-club__title--bold::before {
  content: "";
  position: absolute;
  bottom: 0;
  background: #000;
  width: 55px;
  height: 1px;
  left: 0;
}

.main-club .main-club__description {
  font-size: 15px;
  line-height: 19px;
  text-transform: initial;
  letter-spacing: 1px;
  color: #000000;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-club .padding-right-left {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.main-club__form form {
  background: #fff;
  padding: 43px 55px;
  border: 1px solid #dee2e6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-club__form form {
    padding: 23px;
  }
}

.main-club__form label {
  border: 1px solid #dee2e6;
  display: flex;
  padding: 15px;
  width: 47%;
  margin-bottom: 21px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-club__form label {
    width: 100%;
  }
}

.main-club__form label:nth-child(5) {
  width: 100%;
}

.main-club__form label img {
  width: 24px;
  height: 24px;
  margin-right: 22px;
  object-fit: contain;
}

.main-club__form input {
  border: none;
  letter-spacing: 1px;
}

.main-club__form input::placeholder {
  color: #161616;
  letter-spacing: 1px;
}

.main-club__form .main-club__btn {
  width: 100%;
}

.main-club__form textarea {
  width: 100%;
  letter-spacing: 1px;
  resize: none;
  border: none;
  height: 104px;
}

.main-club__form textarea::placeholder {
  color: #161616;
  letter-spacing: 1px;
}

.main-club__form .main-general__button {
  padding: 12px 36.6px;
}

.main-newsletter {
  position: relative;
  z-index: 0;
  background: #f5f5f5;
}

.main-newsletter .main-newsletter__bg {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  background: #0a0a0a;
  height: 50%;
}

.main-newsletter h2 {
  font-weight: 600;
  font-size: 40px;
  color: #161616;
  text-align: center;
  margin-bottom: 24px;
  text-transform: uppercase;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-newsletter h2 {
    font-size: 30px;
  }
}

.main-newsletter p {
  font-weight: 500;
  color: #585e59;
  font-size: 16px;
  text-align: center;
  margin-bottom: 46px;
}

.main-newsletter .main-newsletter__content {
  display: flex;
  padding-top: 56px;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  width: 82.1%;
  background: #fff;
  box-shadow: 0 2px 27px 0 rgba(0, 0, 0, 0.08);
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-newsletter .main-newsletter__content {
    width: 99%;
    padding: 40px 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-newsletter .main-newsletter__content {
    width: 99%;
    padding: 40px 20px;
  }
}

.main-newsletter__form {
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.05);
  width: 542px;
  display: flex;
  align-items: center;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-newsletter__form {
    flex-wrap: wrap;
    width: 100%;
  }
}

.main-newsletter__form img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-newsletter__form img {
    width: 20px;
    height: 20px;
  }
}

.main-newsletter__form .main-general__button {
  padding: 18px 44.1px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-newsletter__form .main-general__button {
    width: 100%;
    text-align: center;
  }
}

.main-newsletter__form label {
  margin-bottom: 0;
  border-left: 6px solid #161616;
  padding: 16px 16px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-newsletter__form label {
    width: 25%;
  }
}

.main-newsletter__form input {
  font-size: 16px;
  width: 100%;
  border: none;
  padding: 16px 19px;
  border-left: 1px solid #aeb5bd;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-newsletter__form input {
    width: 75%;
  }
}

.main-newsletter__form input::placeholder {
  color: #aeb5bd;
  font-size: 16px;
}

.main-seller .container-grid {
  grid-template-columns: repeat(5, 1fr);
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-seller .container-grid {
    grid-template-columns: 100%;
  }
}

.main-seller .main-seller__img {
  width: 100%;
  object-fit: cover;
  height: 256px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-seller .main-seller__img {
    height: 141px;
  }
}

.main-seller .main-general__button {
  letter-spacing: 0.18px;
  font-size: 14px;
  padding: 17.5px 49.3px;
  margin-top: 32px;
}

.main-footer {
  background: #f5f5f5;
}

.main-footer .padding-right-left {
  padding-left: 82px;
  padding-right: 82px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-footer .padding-right-left {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.main-footer .padding-top-bottom {
  padding-top: 56px;
  padding-bottom: 25px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-footer .padding-top-bottom {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.main-footer .container-grid {
  grid-template-columns: 24% 1fr 1fr 24%;
  gap: 6rem;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-footer .container-grid {
    grid-template-columns: 100%;
    gap: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-footer .container-grid {
    grid-template-columns: 100%;
    gap: 2rem;
  }
}

.main-footer .main-footer__logo img {
  width: 219px;
  height: 133px;
  object-fit: contain;
}

.main-footer .list-contact {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-footer .list-contact li {
  margin-bottom: 17px;
}

.main-footer .list-contact li img {
  width: 16px;
  margin-right: 5px;
  height: 16px;
  object-fit: contain;
}

.main-footer .list-contact a {
  color: #161616;
  font-weight: 500;
  transition: .3s;
  font-size: 15px;
}

.main-footer .list-contact a:hover {
  transition: .3s;
  color: #ff130d;
}

.main-footer .main-footer__title {
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #161616;
}

.main-footer .main-footer__description {
  font-weight: 500;
  color: #161616;
  margin-bottom: 25px;
  font-size: 15px;
  letter-spacing: 0;
}

.main-footer .main-footer__rrss {
  display: flex;
}

.main-footer .rrss__item {
  margin-right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

.main-footer .rrss__item img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.main-footer .rrss__item:hover {
  color: #ff130d;
  transition: .3s;
}

.site-map {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-map li {
  margin-bottom: 17px;
}

.site-map li a {
  color: #161616;
  transition: .3s;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
}

.site-map li a:hover {
  color: #ff130d;
  transition: .3s;
}

.site-map li::before {
  content: "";
  width: 8px;
  height: 9px;
  background-color: #161616;
  font-weight: bold;
  margin-right: 7px;
  display: inline-block;
}

.main-powered {
  position: relative;
  background: #eeecec;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
}

.main-powered .slider-top {
  position: absolute;
  margin: 0;
  right: 0;
}

.main-powered .slider-top img {
  width: 3rem;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-powered .main-powered__flex {
    flex-direction: column;
    align-items: center;
  }
}

.main-powered p {
  text-align: center;
  margin-bottom: 0;
  color: #161616;
  font-weight: bold;
  font-size: 15px;
}

.main-powered a {
  text-transform: uppercase;
  color: #4a4a4a;
  transition: .5s;
  margin: 0 .5rem;
}

.main-powered a:hover {
  color: #1c3348;
  transition: .5s;
}

.main-whatsapp {
  position: fixed;
  bottom: 10px;
  right: 81px;
}

.main-whatsapp img {
  width: 52px;
  height: 52px;
  object-fit: contain;
}

.boton-subir {
  display: none;
  position: fixed;
  right: 24px;
  bottom: 19px;
  z-index: 999999999;
}

.slider-top img {
  width: 3rem;
}

@media (min-width: 0px) and (max-width: 767px) {
  .contact {
    margin-top: 132px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact {
    margin-top: 132px;
  }
}

.contact .padding-right-left {
  padding-left: 100px;
  padding-right: 100px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .contact .padding-right-left {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact .padding-right-left {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.contact .container-grid {
  grid-template-columns: 1fr 1fr;
  gap: 109px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .contact .container-grid {
    grid-template-columns: 100%;
    gap: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact .container-grid {
    grid-template-columns: 100%;
    gap: 20px;
  }
}

.contact .contact-title--small {
  font-weight: 300;
  letter-spacing: 10px;
  font-size: 20px;
  position: relative;
  color: #000;
}

.contact .contact-title--small::before {
  position: absolute;
  width: 150px;
  content: "";
  height: 1px;
  background: #000;
  top: 50%;
  left: 218px;
}

.contact .contact-title {
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 40px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 70px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .contact .contact-title {
    font-size: 36px;
  }
}

.contact-item .contact-item__img {
  position: relative;
  margin-bottom: 40px;
}

.contact-item .main-categories__title {
  font-family: 'HelveticaNeue';
  font-weight: 300;
}

.contact-item .main-categories__title::before {
  bottom: -7px;
}

.contact-item .contact-item__img img {
  width: 100%;
  height: 229px;
  object-fit: cover;
}

.contact-item .content-item__list {
  list-style: none;
  padding-left: 0;
}

.contact-item .content-item__list li {
  margin-bottom: 15px;
}

.contact-item .content-item__list img {
  width: 16px;
  height: 16px;
  object-fit: contain;
  margin-right: 5px;
}

.contact-item .content-item__list a {
  font-size: 15px;
  color: #161616;
  letter-spacing: 0;
  transition: .3s;
}

.contact-item .content-item__list a:hover {
  transition: .3s;
  color: #ff130d;
}

.contact-modal .contact-modal__title {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  font-size: 20px;
  color: #161616;
  margin-bottom: 58px;
  margin-top: 16px;
}

.contact-modal .contact-modal__btn {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact-modal .contact-modal__btn .main-general__button {
  padding: 8px 37px;
  font-size: 10px;
  letter-spacing: 3.5px;
}

.contact-modal form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-modal form label {
  border: 1px solid #aeb5bd;
  display: flex;
  padding: 7.5px 12px;
  width: 47%;
  align-items: center;
  margin-bottom: 15px;
}

.contact-modal form label:nth-child(3) {
  width: 100%;
}

.contact-modal form label img {
  width: 13px;
  height: 13px;
  margin-right: 9px;
  object-fit: contain;
}

.contact-modal form label input,
    .contact-modal form label textarea {
  border: none;
  letter-spacing: 1px;
  width: 100%;
}

.contact-modal form label input::placeholder,
      .contact-modal form label textarea::placeholder {
  font-size: 15px;
  color: #2d2d2d;
  letter-spacing: 1px;
}

.contact-modal form label textarea {
  height: 165px;
  resize: none;
  width: 100%;
}

.contact-modal .close {
  background: #000;
  color: #fff;
  opacity: 1;
  width: 27px;
  height: 27px;
  position: absolute;
  right: 0;
  font-weight: 300;
  display: flex;
  align-items: center;
  z-index: 1;
  justify-content: center;
  padding-bottom: 4px;
}

.contact-modal .contact-modal__icon {
  width: 37px;
  height: 37px;
  margin-top: 82px;
}

.contact-modal .modal-body {
  padding-top: 0;
  padding-right: 55px;
  padding-left: 55px;
  padding-bottom: 64.4px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .contact-modal .modal-body {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.contact-modal .modal-content {
  border-radius: 0;
  border: none;
}

.contact-sitemap img {
  width: 100%;
  height: 100%;
}

.banner-small {
  height: 330px;
  position: relative;
}

@media (min-width: 0px) and (max-width: 767px) {
  .banner-small {
    margin-top: 132px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .banner-small {
    margin-top: 132px;
  }
}

.banner-small .banner-small__img {
  height: 100%;
}

.banner-small .banner-small__title {
  font-weight: 500;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
}

@media (min-width: 0px) and (max-width: 767px) {
  .banner-small .banner-small__title {
    font-size: 36px;
  }
}

.banner-small .banner-small__title--small {
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 6px;
  letter-spacing: 10px;
  color: #fff;
  position: relative;
}

.banner-small .banner-small__title--small::before {
  content: "";
  width: 57px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 218px;
}

.banner-small .banner-small__text {
  padding-left: 143px;
  padding-right: 143px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 0px) and (max-width: 767px) {
  .banner-small .banner-small__text {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .banner-small .banner-small__text {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.banner-small--bs .banner-small__title--small::before {
  width: 500px;
}

.categories {
  padding-top: 39px;
  padding-bottom: 39px;
  padding-left: 20px;
  padding-right: 20px;
}

.categories .main-products__item {
  margin: 0;
}

.categories .main-products__item .main-general__button {
  padding: 12px 24px;
}

.categories .container-grid {
  grid-template-columns: 255px 1fr;
  gap: 28px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .categories .container-grid {
    grid-template-columns: 100%;
  }
}

.categories .categorie-product__grid {
  display: grid;
  gap: 87px 28px;
  grid-template-columns: repeat(4, 1fr);
}

@media (min-width: 0px) and (max-width: 767px) {
  .categories .categorie-product__grid {
    grid-template-columns: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .categories .categorie-product__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .categories .categorie-product__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.categories-bs {
  background-image: url("../img/categorie/best-seller.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 0px) and (max-width: 767px) {
  .categories-sidebar {
    order: 2;
  }
}

.categories-sidebar .categories-sidebar__item {
  padding-top: 29px;
  padding-bottom: 29px;
  border-bottom: 1px solid #d0d0d0;
}

.categories-sidebar .categories-sidebar__title {
  font-size: 18px;
  letter-spacing: 3.6px;
  color: #161616;
  margin-bottom: 30px;
  font-weight: 600;
}

.categories-sidebar__list {
  /* The container */
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */ }
  .categories-sidebar__list label,
  .categories-sidebar__list li {
    display: block;
    position: relative;
    padding-left: 21px;
    margin-bottom: 11px;
    width: fit-content;
    cursor: pointer;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 1px;
    color: #252525;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .categories-sidebar__list li a {
    color: #252525; }
  .categories-sidebar__list label input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .categories-sidebar__list li span,
  .categories-sidebar__list .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 16px;
    border: 1px solid #252525;
    width: 16px;
    border-radius: 50%; }
  .categories-sidebar__list li span::after {
    top: 2px;
    left: 2px;
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    background: #161616; }
  .categories-sidebar__list li:nth-child(1) span::after {
    background: #efa768; }
  .categories-sidebar__list li:nth-child(2) span::after {
    background: #606a58; }
  .categories-sidebar__list li:nth-child(3) span::after {
    background: #1f1b6b; }
  .categories-sidebar__list li:nth-child(5) span::after {
    background: #989898; }
  .categories-sidebar__list li:nth-child(6) span::after {
    background: #fff; }
  .categories-sidebar__list label:hover input ~ .checkmark {
    background-color: #ccc; }
  .categories-sidebar__list .checkmark:after {
    content: "";
    position: absolute;
    display: none; }
  .categories-sidebar__list label input:checked ~ .checkmark:after {
    display: block; }
  .categories-sidebar__list label .checkmark:after {
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #161616; }

.categories-sidebar__size {
  position: relative;
  margin-top: 20px; }
  .categories-sidebar__size .modal-content {
    border: none;
    border-radius: 0; }
    .categories-sidebar__size .modal-content button {
      width: 27px;
      height: 27px;
      /* color: #fff; */
      background: white;
      position: absolute;
      z-index: 1;
      right: 0;
      opacity: 1;
      display: flex;
      justify-content: center;
      align-items: center; }
      .categories-sidebar__size .modal-content button span {
        margin-top: -2px; }
  .categories-sidebar__size .modal-body {
    padding: 0; }
  .categories-sidebar__size p {
    font-size: 12px;
    letter-spacing: 0;
    margin-bottom: 7px;
    color: #fff;
    font-weight: 300; }
  .categories-sidebar__size img {
    width: 100%; }
  .categories-sidebar__size .categories-sidebar__text {
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start; }
  .categories-sidebar__size a {
    font-size: 12px;
    letter-spacing: 2.4px;
    color: #fff !important;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid #fff;
    padding: 7px 17px;
    transition: .3s; }
    .categories-sidebar__size a:hover {
      transition: .3s;
      background: #000; }

.categories-product__header {
  padding-bottom: 10.5px;
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 24.5px;
  display: flex;
  justify-content: space-between; }
  .categories-product__header .categories-product__view p {
    margin-bottom: 0;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 41px;
    text-transform: uppercase; }

.orderby {
  background: none;
  padding-right: 58px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #161616;
  position: relative;
  background-image: url(../img/bottom.png);
  background-repeat: no-repeat;
  background-size: 8px;
  background-position-x: right;
  padding-right: 12.5px;
  background-position-y: center;
  margin-bottom: 0;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 41px;
  text-transform: uppercase; }

.categories-paginator {
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 81px; }
  .categories-paginator .categories-paginator__item {
    width: 42px;
    background: #fff;
    height: 42px;
    margin: 0 5px;
    border: 2px solid #dfdfdf;
    font-size: 15px;
    font-weight: 600;
    color: #161616;
    display: flex;
    justify-content: center;
    align-items: center; }
    .categories-paginator .categories-paginator__item p {
      margin-bottom: 0; }
    .categories-paginator .categories-paginator__item:nth-child(1) {
      background: #161616;
      color: #fff;
      border: #000; }
    .categories-paginator .categories-paginator__item img {
      width: 18px;
      height: 18px;
      object-fit: contain; }

.filter-price {
  height: 58px; }
  .filter-price [slider] {
    position: relative; }
  .filter-price [slider] > div {
    position: absolute;
    left: 0;
    width: 100%;
    right: 0; }
  .filter-price [inverse-left] {
    position: absolute;
    left: 0;
    height: 3px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: #d0d0d0;
    margin: 0 7px; }
  .filter-price [inverse-right] {
    position: absolute;
    right: 0;
    height: 3px;
    border-radius: 10px;
    border: 2px solid transparent;
    background-color: #d0d0d0;
    margin: 0 7px; }
  .filter-price [range] {
    position: absolute;
    left: 0;
    height: 3px;
    border: 2px solid;
    border-radius: 14px;
    background-color: #000; }
  .filter-price [thumb] {
    position: absolute;
    top: -7px;
    z-index: 2;
    height: 20px;
    width: 20px;
    text-align: left;
    margin-left: -11px;
    cursor: pointer;
    border: 5px solid;
    background-color: #FFF;
    border-radius: 50%;
    outline: none; }
  .filter-price [slider] > input[type=range] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 3;
    height: 14px;
    top: -2px;
    width: 100%;
    opacity: 0; }
  .filter-price input[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
    border: transparent; }
  .filter-price input[type=range]:focus {
    outline: none; }
  .filter-price input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 28px;
    height: 28px;
    border-radius: 0px;
    border: 0 none;
    background: red;
    -webkit-appearance: none; }
  .filter-price input[type=range]::-ms-fill-lower {
    background: transparent;
    border: 0 none; }
  .filter-price input[type=range]::-ms-fill-upper {
    background: transparent;
    border: 0 none; }
  .filter-price input[type=range]::-ms-tooltip {
    display: none; }
  .filter-price [sign] {
    margin-top: 33px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 3.6px;
    z-index: 3;
    align-items: center;
    display: inline-block;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center; }
  .filter-price .value-1 {
    padding-right: 13px; }
    .filter-price .value-1::after {
      position: absolute;
      content: '-';
      right: 0; }
  .filter-price [sign] > span {
    font-size: 18px;
    font-weight: 300;
    padding-left: 13px;
    letter-spacing: 3.6px;
    position: relative; }
    .filter-price [sign] > span::before {
      position: absolute;
      left: 0;
      content: "$"; }
  .filter-price [slider]:hover > div > [sign] {
    opacity: 1; }
