::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #9E9E9E;
}

.btn_custom {
  display: inline-block;
  width: auto;
  margin: 0;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0;
  font-weight: 600;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  -webkit-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  padding: 13px 50px;
  cursor: pointer;
}

.btn--small {
  padding: 8px 12px;
  min-width: 65px;
  font-size: 12px;
}

.btn--medium {
  padding: 10px 14px;
  min-width: 85px;
  font-size: 14px;
}

.btn--large {
  padding: 12px 16px;
  min-width: 105px;
  font-size: 18px;
}

.btn--filled {
  color: #f47321;
  background-color: rgba(223, 130, 57, 0.18);
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
}

.btn--filled:hover {
  background-color: rgba(223, 130, 57, 0.18);
  color: #f47321;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: 0.3s ease-in-out;
}

html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}

@media (max-width: 768px) {
  .offcanvas-collapse {
    position: fixed;
    top: 5.3rem;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #fff;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
    padding-top: 25px;
  }
}

@media (max-width: 768px) and (min-width: 768px) and (max-width: 991px) {
  .offcanvas-collapse {
    top: 10.4rem;
  }
}

@media (max-width: 768px) {
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-purple {
  background-color: #6f42c1;
}

.lh-100 {
  line-height: 1;
}

.lh-125 {
  line-height: 1.25;
}

.lh-150 {
  line-height: 1.5;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 35px;
  height: 3px;
  background-color: #007844;
  border-radius: 3px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--elastic .hamburger-inner {
  top: 1.7rem;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

.main-banner__content .slick-prev {
  z-index: 2;
  height: 60px;
  width: 60px;
  top: 50%;
  left: 24px;
  transition: all .5s;
  background-color: rgba(255, 255, 255, 0.56);
  cursor: pointer;
}

.main-banner__content .slick-prev:before {
  font-size: 17px;
  color: #000;
  content: "\f053";
  font-family: 'FontAwesome';
  z-index: 3;
}

.main-banner__content .slick-prev:hover {
  outline: none;
  transition: all .5s;
  background-color: rgba(255, 255, 255, 0.81);
  color: #fff;
}

.main-banner__content .slick-next {
  right: 24px;
  z-index: 2;
  height: 60px;
  width: 60px;
  cursor: pointer;
  transition: all .5s;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.56);
}

.main-banner__content .slick-next:before {
  font-size: 17px;
  color: #000;
  content: "\f054";
  font-family: 'FontAwesome';
}

.main-banner__content .slick-next:hover {
  outline: none;
  background-color: rgba(255, 255, 255, 0.81);
  color: #fff;
  transition: all .5s;
}

.main-banner__content .slick-dots {
  z-index: 2;
  display: flex;
  position: absolute;
  bottom: 5%;
  right: 53%;
  width: 0%;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-banner__content .slick-dots {
    left: 45%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-banner__content .slick-dots {
    left: 45%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-banner__content .slick-dots {
    left: 35%;
  }
}

.main-banner__content .slick-dots .slick-active button:before {
  color: #00b050;
  opacity: 0.75;
  width: 35px;
  margin: 0;
}

.main-banner__content .slick-dots li {
  margin: 0 10px;
}

.main-banner__content .slick-dots li button:before {
  color: gray;
  content: '';
  height: 12px;
  width: 12px;
  display: inline-block;
  background: #f47321;
  border-radius: 6px;
  cursor: pointer;
  transition: all 300ms ease;
}

.main-banner__content .slick-dots li button:hover:before, .main-banner__content .slick-dots li button:focus:before {
  color: #00b050;
}

.main-video .slick-dots {
  z-index: 2;
  display: flex;
  counter-reset: item;
  bottom: -64px;
  list-style: decimal-leading-zero;
  list-style-type: decimal-leading-zero;
}

.main-video .slick-dots li button::before {
  opacity: 0;
}

.main-video .slick-dots li {
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  left: 48%;
  transform: translateX(-48%);
  height: 100%;
  display: flex;
  align-items: center;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-video .slick-dots li {
    left: 44%;
    transform: translateX(-44%);
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-video .slick-dots li {
    left: 47%;
    transform: translateX(-47%);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-video .slick-dots li {
    left: 48%;
    transform: translateX(-48%);
  }
}

.main-video .slick-dots li:last-child {
  overflow: visible;
  visibility: visible;
  left: 51%;
  transform: translateX(-51%);
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-video .slick-dots li:last-child {
    left: 59%;
    transform: translateX(-59%);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-video .slick-dots li:last-child {
    left: 55%;
    transform: translateX(-55%);
  }
}

.main-video .slick-dots li::before {
  font-weight: 300;
  color: #161616;
  font-size: 15px;
  letter-spacing: 3px;
  cursor: pointer;
  color: #161616;
  content: counter(item, decimal-leading-zero) " ";
  counter-increment: item;
  opacity: 1;
  background: #fff;
}

.main-video .slick-dots li.slick-active {
  overflow: visible;
  visibility: visible;
}

.main-video .slick-dots li.slick-active::before {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 4px;
  content: counter(item, decimal-leading-zero) "/";
}

.main-video .slick-next,
.main-video .slick-prev {
  width: 45px;
  height: 45px;
  background: #161616;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
}

.main-video .slick-next::before,
  .main-video .slick-prev::before {
  background-position: center;
  content: "";
  opacity: 1;
  width: 24px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 3;
}

.main-video .slick-next {
  right: 29%;
}

.main-video .slick-next::before {
  background-image: url("../img/next.png");
}

.main-video .slick-prev {
  left: 29%;
}

.main-video .slick-prev::before {
  background-image: url("../img/return.png");
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

@media (min-width: 0px) and (max-width: 767px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 13px;
  }
}

a:hover {
  color: #ffffff;
}

*,
*:hover,
*:focus {
  outline: none !important;
  text-decoration: none !important;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueRegular.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueHeavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueBlackCond.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeueBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.main-brand__fixed {
  display: none;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-brand__fixed {
    display: none !important;
  }
}

body {
  font-family: 'HelveticaNeue';
  color: #161616;
}

body :focus {
  outline: none;
}

.mt-btn {
  margin-top: 2.2rem;
}

.padding-top-bottom {
  padding-top: 55px;
  padding-bottom: 55px;
}

.container-grid {
  display: grid;
}

.main-general__button {
  display: inline-block;
  background-color: #161616;
  color: #fff;
  font-weight: bold;
  transition: .5s;
  padding: 18px 16.6px;
  border: 1px solid;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 3px;
}

.main-general__button:hover {
  background: #fff;
  color: #161616;
  transition: .5s;
}

.padding-right-left {
  padding-left: 86px;
  padding-right: 86px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .padding-right-left {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.main-general__button--white {
  background: #fff;
  color: #161616;
  display: inline-block;
  font-size: 14px;
  padding: 18px 16.6px;
  letter-spacing: 0.18px;
}

.main-general__button--white:hover {
  background-color: #161616;
  color: #fff;
  transition: .5s;
}

.main-general__title--light {
  font-size: 20px;
  line-height: 41px;
  letter-spacing: 4px;
  color: #6d7278;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.main-general__title--bold {
  font-size: 30px;
  line-height: 41px;
  margin-bottom: 38px;
  letter-spacing: 6px;
  color: #000000;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.brand-responsive {
  display: none;
}

@media (min-width: 0px) and (max-width: 767px) {
  .brand-responsive {
    display: initial;
  }
}

button:focus {
  outline: 5px auto transparent;
}

.img-round {
  border-radius: 5px;
}

.nav-padding {
  padding-left: 145px;
  width: 100%;
  padding-right: 25px;
  display: flex;
  align-items: center;
}

@media (min-width: 0px) and (max-width: 767px) {
  .nav-padding {
    padding: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .nav-padding {
    padding-left: 25px;
  }
}

.navbar {
  background-color: transparent;
  transition: .3s ease-in-out;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.navbar.fixed {
  background-color: #fff;
  box-shadow: rgba(191, 191, 191, 0.72) 2px 1px 8px;
  transition: .3s ease-in-out;
}

.navbar .main-rrss__responsive {
  display: none;
}

@media (min-width: 0px) and (max-width: 767px) {
  .navbar .main-rrss__responsive {
    display: flex;
    list-style: none;
    margin-top: 1rem;
    padding-left: 0;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media (min-width: 0px) and (max-width: 767px) and (min-width: 0px) and (max-width: 767px) {
  .navbar .main-rrss__responsive img {
    width: 54px;
    height: 54px;
  }
}

.nav-item .main-general__button {
  color: #fff !important;
}

.nav-item {
  display: flex;
  align-items: center;
}

@media (min-width: 0px) and (max-width: 767px) {
  .nav-item {
    justify-content: center;
    margin: .5rem 0;
  }
}

.nav-item a {
  font-size: 16px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  justify-content: center;
  display: flex;
  color: #fff;
  font-weight: bold;
  align-items: center;
}

@media (min-width: 0px) and (max-width: 767px) {
  .nav-item a {
    font-size: 1.3rem;
    color: #007844;
    text-shadow: none;
    font-weight: 600;
  }
}

.navbar .navbar-nav {
  min-height: 5rem;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-brand {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-brand {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.fixed {
  background: #1c3348 !important;
}

.nav-link {
  transition: .3s ease-in-out;
  font-size: 1rem;
  padding-right: 1.2rem !important;
  padding-left: 1.2rem !important;
}

@media (min-width: 0px) and (max-width: 767px) {
  .nav-link {
    color: #fff;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav-link {
    color: #fff;
  }
}

.nav-link.fixed-color {
  transition: .3s ease-in-out;
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav-link.fixed-color {
    color: #fff;
  }
}

.nav-link:hover {
  color: #9dcc49 !important;
}

@media (min-width: 0px) and (max-width: 767px) {
  .nav-link:hover {
    color: #fff;
  }
}

.fixed--link {
  color: #4a4a4a !important;
}

.fixed--white {
  background: #fff;
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-right: 0;
}

.navbar-brand img {
  width: 170px;
  height: 104px;
  object-fit: contain;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-brand img {
    width: 11rem;
    height: 4rem;
    object-fit: contain;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .navbar-brand {
    width: initial;
    margin-left: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand {
    width: initial;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-brand__top {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-brand__top {
    display: none !important;
  }
}

.navbar-nav {
  width: 100%;
  justify-content: flex-end;
}

.navbar-collapse {
  justify-content: flex-end;
}

header {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.pre-navbar {
  padding: 9px 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 0px) and (max-width: 767px) {
  .pre-navbar {
    display: none;
  }
}

.pre-navbar .icon-tarjeta {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.pre-navbar .icon-line {
  width: 45px;
  object-fit: contain;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .pre-navbar .icon-line {
    display: none;
  }
}

.pre-navbar .main-general__button {
  padding: 6px 15px;
  font-size: 7px;
  letter-spacing: 2;
}

.pre-navbar .main-general__button img {
  width: 12px;
  height: 12px;
  object-fit: contain;
}

.pre-navbar p:nth-child(1) {
  font-size: 16px;
}

.pre-navbar p {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-bottom: 0;
}

.pre-navbar p:nth-child(2) {
  font-size: 16px;
}

.pre-navbar p:nth-child(3) {
  font-size: 16px;
  margin: 0 9px;
  font-weight: 600;
}

.pre-navbar p:nth-child(4) {
  font-size: 13px;
  font-weight: 500;
}

.pre-navbar p b {
  font-weight: 600;
}

.nav-top__header {
  width: 100%;
  background-color: #0B1A1C;
  padding: 10px;
  transition: .3s ease-in-out;
}

.nav-top__header.nav-top__header--detele {
  display: none !important;
  transition: .3s ease-in-out;
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav-top__header {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .nav-top__header {
    display: none;
  }
}

.nav-top__content {
  padding: 0 100px;
}

.main-nav__contact a {
  color: #F7FCF9;
  text-decoration: none;
}

.main-banner {
  overflow: hidden;
}

.main-banner .main-banner__item {
  position: relative;
}

.main-banner .main-banner__width {
  width: 60%;
}

.main-banner .main-banner__text {
  position: absolute;
  width: 100%;
  display: flex;
  height: 100%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding-left: 145px;
  padding-right: 145px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-banner .main-banner__text {
    width: 100%;
    padding: 0;
    align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-banner .main-banner__text {
    width: 100%;
    padding: 0;
    align-items: center;
  }
}

.main-banner .main-banner__text .main-banner__title {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 60px;
  color: #fff;
  margin: 1rem 0;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-banner .main-banner__text .main-banner__title {
    font-size: 31px;
    line-height: 1;
  }
}

.main-banner .main-banner__text .main-banner__title--small {
  font-weight: 300;
  color: #fff;
  font-size: 20px;
  letter-spacing: 10px;
}

.main-banner .main-banner__text .main-banner__subtitle {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}

.main-banner .main-banner__text .main-banner__description {
  padding: 0 25px;
  color: #fff;
  font-size: 20px;
  line-height: 2rem;
  margin: 50px 0 0 0;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-banner .main-banner__text .main-banner__description {
    font-size: 18px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-banner .main-banner__text .main-banner__description {
    font-size: 18px;
    padding: 0;
  }
}

.main-banner .main-banner__img {
  width: 100%;
  height: 779px;
}

.main-banner .main-banner__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-categories {
  background: #f5f5f5;
}

.main-categories .padding-right-left {
  padding-left: 16px;
  padding-right: 16px;
}

.main-categories .main-categories__flex {
  display: flex;
  flex-wrap: wrap;
}

.main-categories__item {
  padding: 15px;
  position: relative;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-categories__item {
    width: 100% !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-categories__item {
    width: 50% !important;
  }
}

.main-categories__item img {
  width: 100%;
  height: 201px;
  object-fit: cover;
  object-position: center;
}

.main-categories__item:nth-child(1) {
  width: 34.5%;
}

.main-categories__item:nth-child(2) {
  width: 25%;
}

.main-categories__item:nth-child(3) {
  width: 40.5%;
}

.main-categories__item:nth-child(4) {
  width: 28.5%;
}

.main-categories__item:nth-child(5) {
  width: 26.5%;
}

.main-categories__item:nth-child(6) {
  width: 45%;
}

.main-categories__mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-categories__mask .main-categories__title {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 0.67px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}

.main-categories__mask .main-categories__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  background: #ff130d;
  width: 100%;
  height: 1px;
}

.main-products__item {
  margin: 0 13.5px;
}

.main-products__item .main-products__mask {
  position: absolute;
  background: rgba(22, 22, 22, 0.47);
  width: 100%;
  opacity: 0;
  height: 100%;
  top: 0;
  transition: .3s;
}

.main-products__item .main-products__img {
  position: relative;
  transition: .3s;
  margin-bottom: 13px;
}

.main-products__item .main-products__img img {
  border: 5px solid rgba(151, 151, 151, 0.2);
  width: 100%;
}

.main-products__item .main-products__img:hover .main-products__mask {
  opacity: 1;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-products__item .main-products__img .main-products__icon {
  background: #fff;
  padding: 10px 17px;
  width: 144px;
  display: flex;
  justify-content: space-between;
}

.main-products__item .main-products__img .main-products__icon img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  border: none;
}

.main-products__item .main-products__title {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 3px;
  color: #161616;
  margin-bottom: 2px;
}

.main-products__item .main-products__categorie {
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 0;
  color: #161616;
}

.main-products__item .main-products__price {
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 3px;
  color: #161616;
}

.main-products__item .main-products__price span {
  color: #6d7278;
  font-size: 10px;
  letter-spacing: 2.5px;
  font-weight: 600;
  text-decoration: line-through !important;
}

.main-video .padding-right-left {
  padding-left: 50px;
  padding-right: 50px;
}

.main-video .padding-top-bottom {
  padding-bottom: 119px;
}

.main-video .main-video__carousel {
  margin-bottom: 0;
}

.main-video .main-video__title {
  border-left: 1px solid #161616;
  padding-left: 19px;
}

.main-video .main-general__title--bold,
.main-video .main-general__title--light {
  text-align: left;
}

.main-video .main-general__title--light {
  color: #606060;
}

.main-video__item {
  display: flex !important;
  height: 318px;
  justify-content: center;
  align-items: center;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-video__item {
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-video__item {
    height: auto;
    margin: 0 10px;
  }
}

.main-video__item img {
  opacity: 16%;
  width: 320px;
  transition: .3s;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-video__item img {
    opacity: 1;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-video__item img {
    opacity: 1;
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .main-video__item img {
    object-fit: contain;
  }
}

.main-video__item.slick-active.slick-center img {
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: .3s;
}

.main-club {
  background: rgba(240, 240, 240, 0.55);
}

.main-club .container-grid {
  grid-template-columns: 32% 1fr;
  gap: 54px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-club .container-grid {
    grid-template-columns: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-club .container-grid {
    grid-template-columns: 100%;
  }
}

.main-club .main-club__text {
  text-transform: uppercase;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-club .main-club__title--light {
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 300;
}

.main-club .main-club__title--italic {
  font-size: 40px;
  letter-spacing: 2.67px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-style: italic;
  font-weight: 300;
}

.main-club .main-club__title--bold {
  font-size: 45px;
  letter-spacing: 5.6px;
  font-weight: 600;
  position: relative;
  padding-bottom: 7px;
}

.main-club .main-club__title--bold::before {
  content: "";
  position: absolute;
  bottom: 0;
  background: #000;
  width: 55px;
  height: 1px;
  left: 0;
}

.main-club .main-club__description {
  font-size: 15px;
  line-height: 19px;
  text-transform: initial;
  letter-spacing: 1px;
  color: #000000;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-club .padding-right-left {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.main-club__form form {
  background: #fff;
  padding: 43px 55px;
  border: 1px solid #dee2e6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-club__form form {
    padding: 23px;
  }
}

.main-club__form label {
  border: 1px solid #dee2e6;
  display: flex;
  padding: 15px;
  width: 47%;
  margin-bottom: 21px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-club__form label {
    width: 100%;
  }
}

.main-club__form label:nth-child(5) {
  width: 100%;
}

.main-club__form label img {
  width: 24px;
  height: 24px;
  margin-right: 22px;
  object-fit: contain;
}

.main-club__form input {
  border: none;
  letter-spacing: 1px;
}

.main-club__form input::placeholder {
  color: #161616;
  letter-spacing: 1px;
}

.main-club__form .main-club__btn {
  width: 100%;
}

.main-club__form textarea {
  width: 100%;
  letter-spacing: 1px;
  resize: none;
  border: none;
  height: 104px;
}

.main-club__form textarea::placeholder {
  color: #161616;
  letter-spacing: 1px;
}

.main-club__form .main-general__button {
  padding: 12px 36.6px;
}

.main-newsletter {
  position: relative;
  z-index: 0;
  background: #f5f5f5;
}

.main-newsletter .main-newsletter__bg {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  background: #0a0a0a;
  height: 50%;
}

.main-newsletter h2 {
  font-weight: 600;
  font-size: 40px;
  color: #161616;
  text-align: center;
  margin-bottom: 24px;
  text-transform: uppercase;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-newsletter h2 {
    font-size: 30px;
  }
}

.main-newsletter p {
  font-weight: 500;
  color: #585e59;
  font-size: 16px;
  text-align: center;
  margin-bottom: 46px;
}

.main-newsletter .main-newsletter__content {
  display: flex;
  padding-top: 56px;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  width: 82.1%;
  background: #fff;
  box-shadow: 0 2px 27px 0 rgba(0, 0, 0, 0.08);
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-newsletter .main-newsletter__content {
    width: 99%;
    padding: 40px 20px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-newsletter .main-newsletter__content {
    width: 99%;
    padding: 40px 20px;
  }
}

.main-newsletter__form {
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.05);
  width: 542px;
  display: flex;
  align-items: center;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-newsletter__form {
    flex-wrap: wrap;
    width: 100%;
  }
}

.main-newsletter__form img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-newsletter__form img {
    width: 20px;
    height: 20px;
  }
}

.main-newsletter__form .main-general__button {
  padding: 18px 44.1px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-newsletter__form .main-general__button {
    width: 100%;
    text-align: center;
  }
}

.main-newsletter__form label {
  margin-bottom: 0;
  border-left: 6px solid #161616;
  padding: 16px 16px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-newsletter__form label {
    width: 25%;
  }
}

.main-newsletter__form input {
  font-size: 16px;
  width: 100%;
  border: none;
  padding: 16px 19px;
  border-left: 1px solid #aeb5bd;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-newsletter__form input {
    width: 75%;
  }
}

.main-newsletter__form input::placeholder {
  color: #aeb5bd;
  font-size: 16px;
}

.main-seller .container-grid {
  grid-template-columns: repeat(5, 1fr);
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-seller .container-grid {
    grid-template-columns: 100%;
  }
}

.main-seller .main-seller__img {
  width: 100%;
  object-fit: cover;
  height: 256px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-seller .main-seller__img {
    height: 141px;
  }
}

.main-seller .main-general__button {
  letter-spacing: 0.18px;
  font-size: 14px;
  padding: 17.5px 49.3px;
  margin-top: 32px;
}

.main-footer {
  background: #f5f5f5;
}

.main-footer .padding-right-left {
  padding-left: 82px;
  padding-right: 82px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-footer .padding-right-left {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.main-footer .padding-top-bottom {
  padding-top: 56px;
  padding-bottom: 25px;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-footer .padding-top-bottom {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.main-footer .container-grid {
  grid-template-columns: 24% 1fr 1fr 24%;
  gap: 6rem;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-footer .container-grid {
    grid-template-columns: 100%;
    gap: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .main-footer .container-grid {
    grid-template-columns: 100%;
    gap: 2rem;
  }
}

.main-footer .main-footer__logo img {
  width: 219px;
  height: 133px;
  object-fit: contain;
}

.main-footer .list-contact {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-footer .list-contact li {
  margin-bottom: 17px;
}

.main-footer .list-contact li img {
  width: 16px;
  margin-right: 5px;
  height: 16px;
  object-fit: contain;
}

.main-footer .list-contact a {
  color: #161616;
  font-weight: 500;
  transition: .3s;
  font-size: 15px;
}

.main-footer .list-contact a:hover {
  transition: .3s;
  color: #ff130d;
}

.main-footer .main-footer__title {
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #161616;
}

.main-footer .main-footer__description {
  font-weight: 500;
  color: #161616;
  margin-bottom: 25px;
  font-size: 15px;
  letter-spacing: 0;
}

.main-footer .main-footer__rrss {
  display: flex;
}

.main-footer .rrss__item {
  margin-right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

.main-footer .rrss__item img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.main-footer .rrss__item:hover {
  color: #ff130d;
  transition: .3s;
}

.site-map {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-map li {
  margin-bottom: 17px;
}

.site-map li a {
  color: #161616;
  transition: .3s;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
}

.site-map li a:hover {
  color: #ff130d;
  transition: .3s;
}

.site-map li::before {
  content: "";
  width: 8px;
  height: 9px;
  background-color: #161616;
  font-weight: bold;
  margin-right: 7px;
  display: inline-block;
}

.main-powered {
  position: relative;
  background: #eeecec;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
}

.main-powered .slider-top {
  position: absolute;
  margin: 0;
  right: 0;
}

.main-powered .slider-top img {
  width: 3rem;
}

@media (min-width: 0px) and (max-width: 767px) {
  .main-powered .main-powered__flex {
    flex-direction: column;
    align-items: center;
  }
}

.main-powered p {
  text-align: center;
  margin-bottom: 0;
  color: #161616;
  font-weight: bold;
  font-size: 15px;
}

.main-powered a {
  text-transform: uppercase;
  color: #4a4a4a;
  transition: .5s;
  margin: 0 .5rem;
}

.main-powered a:hover {
  color: #1c3348;
  transition: .5s;
}

.main-whatsapp {
  position: fixed;
  bottom: 19px;
  right: 24px;
}

.main-whatsapp img {
  width: 52px;
  height: 52px;
  object-fit: contain;
}
